body{
    background: url("../img/avatar2.png");
    
}
h1{
    color: firebrick;    
}

#spanId{
    background-color: azure;
    font-size: 18px; margin: 50px;    
}

a{
    background-color: azure;
}
#thirdDiv{
    border: 5px solid firebrick;
    padding: 50px;
    width:500px;
    height:600px;
    background-color: lightgrey;
}
div{
    margin: 0 auto;
}
.divClass{
    text-align: center;

}
